extends ../Shared/managerServer.pug
block jumbotron
	#QTGateStartScreen.ui.vertical.segment
		.VideoBox.ui.centered.medium.image
			.iframe
				iframe( src="/html/canada150.html" allowfullscreen="true" allowtransparency="true" style="border: 0; width: 100%; height: 100%; top: -10em;")
	form
		
