doctype html
html
	include header
	body#body( data-bind = " css: { 'bodyCoNETBlue': bodyBlue }")
		block jumbotron
		block jumbotron1
		script.
			if ( typeof module === 'object') { window.module = module; module = undefined; }
		script( src='/scripts/jquery.min.js', type="text/javascript" )
		script( src='/scripts/socket.io.js', type="text/javascript" )
		script( src='/scripts/jcanvas.min.js', type="text/javascript" )
		script( src='/scripts/snap.svg.min.js', type="text/javascript" )
		script( src='/scripts/semantic.min.js', type="text/javascript" )
		script( src='/scripts/jquery.cookie.js', type="text/javascript" )
		script( src='/scripts/jszip.min.js', type="text/javascript" )
		script( src='/scripts/jimp.min.js', type="text/javascript" )
		script( src='/scripts/knockout.js', type="text/javascript" )
		script( src='/scripts/knockout.animate.js', type="text/javascript" )
		script( src='/scripts/Cleave.js', type="text/javascript" )
		script( src='/scripts/openpgp.min.js', type="text/javascript" )
		script( src='/scripts/siteShare.js', type="text/javascript" )
		script( src='/scripts/connectInformationMessage.js', type="text/javascript" )
		script( src='/scripts/keyPairGenerateForm.js', type="text/javascript" )
		script( src='/scripts/keyPairPassword.js', type="text/javascript" )
		script( src='/scripts/CoNETConnect.js', type="text/javascript" )
		script( src='/scripts/imapForm.js', type="text/javascript" )
		script( src='/scripts/appsManager.js', type="text/javascript" )
		script( src='/scripts/appCosearch.js', type="text/javascript" )
		script( src='/scripts/encryptoClass.js', type="text/javascript" )
		script( src='/scripts/showHTMLComplete.js', type="text/javascript" )
		script( src='/scripts/home.js', type="text/javascript" )
		script( src='/scripts/TweenMax.min.js', type="text/javascript" )
		block ScriptBlock