doctype html
html
	include header
	body#body
		.content(style="margin-left: 110px; margin-right: 25px;margin-top: 30px;")
			#languageArea( style="z-index: 999;")
				.ui.text.shape.languageText( data-bind = " click: selectItem " )
					.sides
						span.ui.header.side.en.languageItem.languageTextCoverColor
							i.flag.united.kingdom
							span.languageItemSpan( data-bind = " text: menu[ 'en' ][0].showName " )
						span.ui.header.side.tw.languageItem.languageTextCoverColor
							i.flag.taiwan
							span.languageItemSpan( data-bind = " text: menu[ 'tw' ][0].showName " )
						span.ui.header.side.zh.languageItem.languageTextCoverColor
							i.flag.china
							span.languageItemSpan( data-bind = " text: menu[ 'zh' ][0].showName " )
						span.ui.header.side.ja.languageItem.languageTextCoverColor
							i.flag.japan
							span.languageItemSpan( data-bind = " text: menu[ 'ja' ][0].showName " )
		block jumbotron1

		script( src='/scripts/socket.io.js', type="text/javascript" )
		script( src='/scripts/jquery.min.js', type="text/javascript" )
		script( src='/scripts/jcanvas.min.js', type="text/javascript" )
		script( src='/scripts/semantic.min.js', type="text/javascript" )
		script( src='/scripts/jquery.cookie.js', type="text/javascript" )
		script( src='/scripts/knockout.js', type="text/javascript" )
		script( src='/scripts/knockout.animate.js', type="text/javascript" )
		script( src='/scripts/Cleave.js', type="text/javascript" )
		script( src='/scripts/siteShare.js', type="text/javascript" )
		script( src='/scripts/keyPairGenerateForm.js', type="text/javascript" )
		script( src='/scripts/keyPairPassword.js', type="text/javascript" )
		script( src='/scripts/imapForm.js', type="text/javascript" )
		script( src='/scripts/CoGate.js', type="text/javascript" )
		script( src='/scripts/home.js', type="text/javascript" )
		script( src='https://checkout.stripe.com/checkout.js')
		script( src='https://js.stripe.com/v3/')
		block ScriptBlock