head
	title Co_Youtube
	meta(name = "viewport" content = "width=device-width, initial-scale=1, maximum-scale = 1, user-scalable = no")
	meta(charset = 'utf-8' )
	meta(name="author" content="CoNET Technology Inc.|CoNET技術株式会社|CoNET技術有限公司")
	link(rel="apple-touch-icon" sizes="16x16" href="/images/16x16.png")
	link(rel="apple-touch-icon" sizes="32x32" href="/images/32x32.png")
	link(rel="apple-touch-icon" sizes="24x24" href="/images/24x24.png")
	link(rel="apple-touch-icon" sizes="64x64" href="/images/64x64.png")
	link(rel="apple-touch-icon" sizes="96x96" href="/images/96x96.png")
	link(rel="apple-touch-icon" sizes="128x128" href="/images/128x128.png")
	link(rel="apple-touch-icon" sizes="256x256" href="/images/256x256.png")
	link(rel="apple-touch-icon" sizes="512x512" href="/images/512x512.png")
	link(rel="icon" type="image/png" sizes="32x32" href="/images/32x32.png")
	link(rel="icon" type="image/png" sizes="96x96" href="/images/96x96.png")
	link(rel="icon" type="image/png" sizes="16x16" href="/images/16x16.png")
	meta(name="msapplication-TileColor" content="#ffffff")
	meta(name="msapplication-TileImage" content="/images/128x128.png")
	meta(name="theme-color" content="#ffffff")
	link(rel = "stylesheet", href = "/css/semantic.min.css")
	link(rel = "stylesheet", href = "/css/animate.min.css")
	link(rel = "stylesheet", href = "/css/c3.css")
	link(rel = "stylesheet", href = "/css/page.css")
	