head
	title QTGate
	meta(name = "viewport" content = "width=device-width, initial-scale=1, maximum-scale = 1, user-scalable = no")
	meta(charset = 'utf-8' )
	meta(name="author" content="Canada QTGate Systems Inc.|カナダQTGateシステムズ株式会社|加拿大QTGate系統公司")
	meta(name="description", content="QTGate is a different new network technology service that can useful established through firewalls.|"+
		"QTGate运用世界首创的新網絡技术，致力于带给客户一个安全自由的网络世界|QTGateは世界で初新たなネットワーク通信技術を開発したもので、安全と自由なネットワーク環境をクライアントさんに戻ると努力しております。")
	meta(name="keywords" content="QTGate, VPN service, established through firewalls, free VPN, canada VPN")
	meta(name="twitter:card" content="summary_large_image")
	meta(name="twitter:site" content="@vpnEmail")
	meta(name="twitter:creator" content="@vpnEmail")
	meta(name="twitter:title" content="Lets explore the world without fear!" )
	meta(name="twitter:description" content="Vpn.email is a different VPN technology service useful established through firewalls.")
	link(rel="apple-touch-icon" sizes="16x16" href="/images/16x16.png")
	link(rel="apple-touch-icon" sizes="32x32" href="/images/32x32.png")
	link(rel="apple-touch-icon" sizes="24x24" href="/images/24x24.png")
	link(rel="apple-touch-icon" sizes="64x64" href="/images/64x64.png")
	link(rel="apple-touch-icon" sizes="96x96" href="/images/96x96.png")
	link(rel="apple-touch-icon" sizes="128x128" href="/images/128x128.png")
	link(rel="apple-touch-icon" sizes="256x256" href="/images/256x256.png")
	link(rel="apple-touch-icon" sizes="512x512" href="/images/512x512.png")
	link(rel="icon" type="image/png" sizes="32x32" href="/images/32x32.png")
	link(rel="icon" type="image/png" sizes="96x96" href="/images/96x96.png")
	link(rel="icon" type="image/png" sizes="16x16" href="/images/16x16.png")
	meta(name="msapplication-TileColor" content="#ffffff")
	meta(name="msapplication-TileImage" content="/images/128x128.png")
	meta(name="theme-color" content="#ffffff")
	link(rel = "stylesheet", href = "/css/semantic.min.css")
	link(rel = "stylesheet", href = "/css/font-awesome.min.css")
	link(rel = "stylesheet", href = "/css/animate.min.css")
	link(rel = "stylesheet", href = "/css/c3.css")
	link(rel = "stylesheet", href = "/css/pages.css")
	