doctype html
html
	include header_twitter
	//-<style> ::-webkit-scrollbar { display: none; } </style>
	body#body(style="background-color: #e6ecf0")
		block jumbotron1
		block jumbotron
	<script>if ( typeof module === 'object') { window.module = module; module = undefined; }</script>
	script( src='/scripts/jquery.min.js', type="text/javascript" )
	script( src='/scripts/jquery.cookie.js', type="text/javascript" )
	script( src='/scripts/semantic.min.js', type="text/javascript" )
	script( src='/scripts/knockout.js', type="text/javascript" )
	script( src='/scripts/knockout.animate.js', type="text/javascript" )
	script( src='/scripts/Cleave.js', type="text/javascript" )
	script( src='/scripts/socket.io.js', type="text/javascript" )
	script( src='/scripts/siteShare.js', type="text/javascript" )
	script( src='/scripts/twitter.js', type="text/javascript" )
	<script>if ( window.module ) module = window.module;</script>
	block ScriptBlock
