doctype html
html
    head
        <script>if ( typeof module === 'object') { window.module = module; module = undefined; }</script> 
        script( src='/scripts/jquery.min.js', type="text/javascript" )
        <script>if ( window.module ) module = window.module;</script>
    body
    script.
        const downloadUrl = "#{ downloadUrl }"
        const savePath = "#{ savePath }"
        $.get ()
