doctype html
html
    head
    body
    script.
        const data = {
            email: "#{ email }",
            keyLength: "#{ keyLength }",
            nikeName: "#{ nikeName }",
            password: "#{ password }"
        }
        require('')