doctype html
html
    head
    body
    script.
        const data = {
            email: "#{ email }",
            keyLength: "#{ keyLength }",
            nikeName: "#{ nikeName }",
            password: "#{ password }"
        }
    <script>if ( typeof module === 'object') { window.module = module; module = undefined; }</script> 
    script( src='/scripts/socket.io.min.js', type="text/javascript" )
    script( src='/scripts/openpgp.min.js', type="text/javascript" )
    script( src='/scripts/newKeyPair.js', type="text/javascript" )
    <script>if ( window.module ) module = window.module;</script>